Package: libfuse2
Source: fuse
Version: 2.9.9-1
Architecture: amd64
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Installed-Size: 798
Depends: libc6 (>= 2.28)
Suggests: fuse
Conflicts: fuse (<< 2.9.9-1)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/libfuse/libfuse/wiki
Description: Filesystem in Userspace (library)
 Filesystem in Userspace (FUSE) is a simple interface for userspace programs to
 export a virtual filesystem to the Linux kernel. It also aims to provide a
 secure method for non privileged users to create and mount their own filesystem
 implementations.
 .
 This package contains the shared library.
