Package: libfuse-dev
Source: fuse
Version: 2.9.9-1
Architecture: amd64
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Installed-Size: 3051
Depends: libfuse2 (= 2.9.9-1), libselinux-dev
Suggests: fuse
Section: libdevel
Priority: optional
Homepage: https://github.com/libfuse/libfuse/wiki
Description: Filesystem in Userspace (development)
 Filesystem in Userspace (FUSE) is a simple interface for userspace programs to
 export a virtual filesystem to the Linux kernel. It also aims to provide a
 secure method for non privileged users to create and mount their own filesystem
 implementations.
 .
 This package contains the development files.
