Package: fuse-dbgsym
Source: fuse
Version: 2.9.9-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Installed-Size: 72
Depends: fuse (= 2.9.9-1)
Section: debug
Priority: optional
Description: debug symbols for fuse
Build-Ids: 032dfdc691ad3ccf51337cd6d7be16052c137a59 80938d42851c8f5c019078cf08294783720d0bae ef00324dd0c8d4ffcb2e41361a8ff59700c6d3a9
